*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    height:100vh;
    background:linear-gradient(135deg,#1b5e20,#4caf50);
}

.container{
    display:flex;
    height:100vh;
}

.left-panel{
    width:50%;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:80px;
}

.left-panel h1{
    font-size:4rem;
    margin-bottom:20px;
}

.left-panel p{
    font-size:1.2rem;
    line-height:1.8;
}

.right-panel{
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-card{
    width:420px;
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(20px);
    padding:40px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.2);
}

.login-card h2{
    color:white;
    margin-bottom:30px;
    text-align:center;
}

.input-group{
    margin-bottom:20px;
}

.input-group input{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    outline:none;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    background:white;
    color:#1b5e20;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:translateY(-3px);
}